<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.slimroms.wallpaper">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true">

        <activity android:name=".SlimWallpaper"
            android:theme="@style/Theme.WallpaperPicker"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
